{% extends "layout.html" %}

{% block title %}Adding new task {% endblock %}

{% block main %}
    <div class="container">
        <h1>Add New Task</h1>
        <form action="/add" method="post">
            <div>

                <div class = "mb-3">
                    <label for="task" class="form-label">Task name</label>
                    <input type="text" class = "form-control" autocomplete="off" name="task" placeholder="Task name">
                </div>
                
                <div class = "mb-3">
                    <label for="notes" class="form-label">Notes</label>
                    <input type="text" class = "form-control" autocomplete="off" name="notes" placeholder="Notes">
                </div>

                <div class = "mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class = "form-control" autocomplete="off" name="deadline_date" placeholder="Date">
                </div>

                <div class = "mb-3">
                    <label for="time" class="form-label">Time</label>
                    <input type="time" class = "form-control" autocomplete="off" name="deadline_time" placeholder="Time">
                </div>
                <div class = "mb-3">
                    <label for="status" class="form-label">Status</label>
                </div>

                <input type="radio" id="not_started" name="status" value="not_started">
                <label for="not_started">Not started</label><br>
                <input type="radio" id="in_process" name="status" value="in_process">
                <label for="in_process">In process</label><br>
                <input type="radio" id="done" name="status" value="done">
                <label for="done">Done</label><br><br>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}