{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block main %}
    <!-- Login page -->
    <div class="container">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username or Email</label>
                <input type="text" class="form-control" id="username" name="username" autocomplete="off" placeholder="Username or email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
{% endblock %}