{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <!-- Registration page -->
    <div class="container">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" autocomplete="off" placeholder="Username" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                <span class="input-group-text" id="sign">@</span>
                <input type="text" class="form-control" placeholder="Server" aria-label="Server">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" autocomplete="off" placeholder="Password again" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}